<table border="1">
  <tr>
    <td>Summoner:</td><td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Level:</td><td><%= @user.level %></td>
  </tr>
  <tr>
    <td>Region:</td><td><%= @user.region %></td>
  </tr>
  <% if @user.main -%>
    <tr>
      <td>Main:</td><td><%= link_to @user.main.name, @user.main %></td>
    </tr>
  <% end -%>
  <% unless @user.smurfs.empty? -%>
    <tr>
      <td>Smurfs:</td><td><%= @user.smurfs.map { |smurf| link_to smurf.name, smurf }.join(',').html_safe %></td>
    </tr>
  <% end -%>
  <tr>
    <td>Total bans:</td><td><%= @bans.size %></td>
  </tr>
  <% if @user.banned? -%>
    <tr>
      <td>Banned <%= @bans.first.permanent? ? 'since' : 'until' %>:</td><td><%= @bans.first.ends %></td>
    </tr>
  <% end -%>
</table>
<br/>
<%= render partial: 'bans/list' %>
<br/>
<%= form_for @blank_ban do |f| %>
  <%= f.fields_for @user do |fu| %>
    <%= fu.hidden_field :id %>
  <% end -%>
<table border="1">
  <%= render partial: 'bans/new', locals: { form: f } %>
</table>
<% end -%>