<% user = @user || ban.user -%>
<% active = ban.active? ? 'active' : 'inactive' -%>
<tr class="<%= active %>" style="background-color: <%= color_by_duration(ban.duration) %>">
  <td><%= link_to user.name, user %></td>
  <td><%= link_to ban.reason, ban.link, :target => '_blank' %></td>
  <td><%= format_duration ban.duration %></td>
  <td><%= ban.ends %></td>
</tr>
