<%= link_to_first_page %> <%= link_to_prev_page %> <%= link_to_next_page %> <%= link_to_last_page %>
<table border="1">
  <tr>
    <th>Summoner</th><th>Region</th><th>Reason</th><th>Ban duration</th><th>Ban ends</th><th>Banned by</th>
  </tr>
  <%= render partial: :ban, collection: @bans %>
</table>
