<tr>
  <td>Ban</td><td><%= form.select :duration, [['1 day', 1], ['3 days', 3], ['7 days', 7], ['14 days', 14], [:perma, -1]] %></td>
</tr>
<tr>
  <td>Reason</td><td><%= form.text_field :reason %></td>
</tr>
<tr>
  <td>Forum link</td><td><%= form.text_field :link %></td>
</tr>
<tr>
  <td>Submit</td><td><%= form.submit 'Create' %></td>
</tr>
<%= content_tag :div, nil, class: "reasons", data: { reasons: Ban.all.select(:reason).group(:reason).order('COUNT(reason) DESC').map(&:reason) } %>
<%= javascript_tag do -%>
  $('#ban_reason').autocomplete({
    source: $('.reasons').data('reasons')
  })
<% end -%>