<tr>
  <td>Ban</td>
  <td>
    <%= form.select :duration, options_for_select(
        [['1 day', 1], ['3 days', 3], ['7 days', 7], ['14 days', 14], [:perma, 0]],
        @user ? increase_duration(@user.bans.last.duration) : 0
    ) %>
  </td>
</tr>
<tr>
  <td>Reason</td>
  <td>
    <%= form.text_field :reason %>
    <%= javascript_tag do %>
      $('#ban_reason').autocomplete({
      source: <%= Ban.all.select(:reason).group(:reason).order('COUNT(reason) DESC').map(&:reason).to_json.html_safe %>
      })
    <% end %>
  </td>
</tr>
<tr>
  <td>Forum link</td><td><%= form.text_field :link %></td>
</tr>
<tr>
  <td>Submit</td><td><%= form.submit 'Create' %></td>
</tr>