<tr>
  <td>Ban</td>
  <td>
    <%= form.select :duration, options_for_select(
        [['1 day', 1], ['3 days', 3], ['7 days', 7], ['14 days', 14], [:perma, 0]],
        @user && !@user.bans.empty? ? @user.bans.last.next_duration : 1
    ) %>
  </td>
</tr>
<tr>
  <td>Reason</td>
  <td>
    <%= form.text_field :reason %>
    <%= cache "common_reasons/#{Time.now.strftime('%Y%m%d')}" do %>
      <%= javascript_tag do %>
        $('#ban_reason').autocomplete({
          source: <%= Ban.common_reasons.map(&:reason).to_json.html_safe %>,
          minLength: 0
        }).bind('focus', function() {
        $(this).autocomplete('search');
        });
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <td>Forum link</td><td><%= form.text_field :link %></td>
</tr>
<tr>
  <td>Submit</td><td><%= form.submit 'Create' %></td>
</tr>
