<table border="1">
  <tr>
    <th>Summoner</th><th>Reason</th><th>Ban duration</th><th>Ban ends</th>
  </tr>
<% @bans.each do |ban| -%>
  <% user = ban.user -%>
  <% active = ban.active? ? 'active' : 'inactive' -%>
  <tr class="<%= active %>">
    <td><%= link_to user.name, user %></td>
    <td><a href="<%= ban.link %>"><%= ban.reason %></a></td>
    <td><%= ban.duration %> days</td>
    <td><%= ban.ends %></td>
  </tr>
<% end -%>
</table>
<br/>
<%= link_to 'New Ban', new_ban_path %>