<%= form_for @ban do |f| %>
  <table border="1">
    <tr>
      <td><%= f.label :user, 'User' %></td>
      <td>
        <%= f.fields_for :user do |fu| %>
          <% users = User.all.order(:id).map { |user| [user.name, user.id, 'data-latest-ban' => user.bans.last.duration] } -%>
          <%= fu.select(:id, users) %><br/>
          - OR -<br/>
          <%= fu.text_field :name %><br/>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td>Ban</td><td><%= f.select :duration, [['1 day', 1], ['3 days', 3], ['7 days', 7], ['14 days', 14], [:perma, -1]] %></td>
    </tr>
    <tr>
      <td>Reason</td><td><%= f.text_field :reason %></td>
    </tr>
    <tr>
      <td>Forum link</td><td><%= f.text_field :link %></td>
    </tr>
    <tr>
      <td>Submit</td><td><%= f.submit 'Create' %></td>
    </tr>
  </table>
<% end -%>