<%= form_for @blank_ban do |f| %>
  <table border="1">
    <tr>
      <td><%= f.label :user, 'User' %></td>
      <td>
        <%= f.fields_for :user do |fu| %>
          <%= fu.text_field :name %>
          <%= javascript_tag do %>
            $('#ban_user_name').autocomplete({
              source: getUsers,
              minLength: 0
            });
          <% end %>
        <% end -%>
      </td>
    </tr>
    <%= render partial: 'new', locals: { form: f } %>
  </table>
<% end -%>