<%= form_for @blank_ban do |f| %>
  <table border="1">
    <tr>
      <td><%= f.label :user, 'User' %></td>
      <td>
        <%= f.fields_for :user do |fu| %>
          <% users = User.all.order(:id).map { |user| [user.name, user.id, 'data-latest-ban' => user.bans.last.duration] } -%>
          <%= fu.select(:id, users) %><br/>
          - OR -<br/>
          <%= fu.text_field :name %><br/>
        <% end -%>
      </td>
    </tr>
    <%= render partial: 'new', locals: { form: f } %>
  </table>
<% end -%>