<!DOCTYPE html>
<html>
<head>
  <title>VolunteerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.key? :error.to_s -%>
  <%= render partial: 'common/error', locals: { error: flash[:error] } %>
<% end -%>
<% if flash.key? :notice.to_s -%>
  <%= render partial: 'common/notice', locals: { notice: flash[:notice] } %>
<% end -%>
<%= yield %>

</body>
</html>
